

.contact-itens{
    display: flex;
    opacity: 0.3s ease;
}

.contact-itens li{
    opacity: 0.6;
}
.contact-itens li:hover{
    opacity: 1;
}

@media(max-width: 500px){
  .contact{
    font-size: 4rem;
}
}
