.project-header{
   background-color: #000;
}



.project-container{
    position: relative;
    display: flex;
    text-align: center;
    height: 80vh;
    background-color:#fff;
}

.project{
    margin-top: 7%;
    position: absolute;
    height: 350px;
    border: 15px ridge rgb(127,191,103);
    border-radius: 30%;

}

.four:hover, .three:hover, .two:hover, .one:hover{
    width: 40%;
    height: 70%;
    z-index: 1;
    opacity: 0.9;
    transform: rotate(-2deg);
}
.four{
left: 45%;
width: 40%;
transition: transform 0.3s ease;
}

.three{
    left: 33%;
    width: 40%;
    transition: transform 0.3s ease;
    }

.two{
    left: 21%;
    width: 40%;
    transition: transform 0.3s ease;
        }
    
.one{
     left: 9%;
     width: 40%;
     transition: transform 0.3s ease;
                }


/*RESPONSIVE*/

@media(max-width:785px){
    .four:hover, .three:hover, .two:hover, .one:hover{
        width: 45%;
    }
    .four{
        left: 56%;
        }
        
        .three{
            left: 39%;
            }
        
        .two{
            left: 22%;
                }
            
        .one{
             left: 5%;
}
}

@media(max-width:645px){
    .four{
        bottom: 5%;
        }
        
        .three{
            bottom: 22%;
            }
        
        .two{
            bottom: 39%;
                }
            
        .one{
             bottom: 56%;
                        }
        .four, .three, .two, .one{
            left: 10%;
            width: 80%;
            height: 40%;
                        }  
         .four:hover, .three:hover, .two:hover, .one:hover{
            height: 50%;
            width: 100%;
            left: 0%;
                        }
}
